<h2><%= @cat.name %></h2>

<table>
  <tr>
    <td>Birth date</td>
    <td>Color</td>
    <td>Sex</td>
  </tr>

  <tr>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
  </tr>
</table>

  <p>Description:</p>
  <text>
    <%= @cat.description %>
  </text>

<h3>Rental Requests</h3>
<table>
  <tr>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Status</td>
  </tr>

  <% @cat_rental_requests.each do |request| %>
    <tr>
      <td><%= request.start_date %></td>
      <td><%= request.end_date %></td>
      <td><%= request.status %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <td><%= link_to 'Back to cats', cats_url %></td>
    <td><%= link_to 'Edit this cat', edit_cat_url(@cat) %></td>
  </tr>
</table>
